body {
    height: 100vh; width: 100vw;
    background-color: #2e6b57;

    display: flex;
    align-items: center;
    justify-content: center;
}

.gameboard {
    --gameboard-background-color: #bdbdbd;
    --tile-color: #707070;
    --ship-color: #2e6b57;

    padding: 5px;
    background-color: var(--gameboard-background-color);

    display: grid;
    
    gap: 5px;
}

.tile {
    height: 50px; width: 50px;
    background-color: var(--tile-color);
}

.ship {
    background-color: var(--ship-color);
}